# Python временные файлы
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Наши временные папки
libs/
test_configs/
src/graph_visualizer.py
src/png_visualizer.py
